<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Simple interface to choose Tamil or Kannada music">
    <meta name="author" content="Your Name">
    <title>Music Playlist</title>
    <link rel="icon" href="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .jumbotron {
            text-align: center;
            background-color: #337ab7;
            color: white;
        }

        .language-buttons {
            margin-top: 40px;
            text-align: center;
        }

        .btn-lg {
            margin: 20px;
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>🎵 Welcome to the Playlist</h1>
            <p>Select your language to begin</p>
        </div>

        <div class="language-buttons">
            <a href="/tamil" class="btn btn-primary btn-lg">🎶 Tamil</a>
            <a href="/kannada" class="btn btn-success btn-lg">🎶 Kannada</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
